<form class="fecha">
  <div class="form-group">
    <div class="input-group">
      
      <input
        class="form-control"
        name="dp"
        value="model | date dd-MM-yyyy"
        [(ngModel)]="model"
        ngbDatepicker
        (ngModelChange)="selectDateChange()"
        [minDate]="minDate"
        [maxDate]="maxDate"
        #fecha="ngbDatepicker"
        readonly
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="fecha.toggle()"
          type="button"
        >
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
      
    </div>
  </div>  
</form>
