<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (ngSubmit)="add()" #formularioRegistro="ngForm">
        <h1>Registro de usuario</h1>
        <hr />
        <div>
        <label for="name"><b>Nombre</b></label>
        <input
          type="text"
          placeholder="Nombre"
          name="nombre"
          title="Sólo se mostrará en caso de que decidas firmar tus recetas con tu nombre en lugar del con el usuario"
          #nombre="ngModel"
          [(ngModel)]="register.nombre"          
        />
      </div>
      <div>
        <label for="lastname"><b>Apellidos</b></label>
        <input
          type="text"
          placeholder="Apellidos"
          name="apellidos"
          title="Si tenemos tu apellido y firmas con el nombre, este se añadirá"
          #apellidos="ngModel"
          [(ngModel)]="register.apellidos"
        />
      </div>
      <div>
        <label for="email"><b>Correo electrónico</b></label>
        <input
          type="text"
          placeholder="Correo electrónico"
          name="email"
          title="Sólo lo usaremos para notificarte lo que nos pidas, y para hacer login"
          #email="ngModel"
          [(ngModel)]="register.email"
          class="form-control"
          [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}"
          [pattern]="emailPattern"
          required
        />
      </div>
      <div>
        <label for="usuario"><b>Nombre de usuario</b></label>
        <input
          type="text"
          placeholder="Nombre de usuario"
          name="usuario"
          title="Servirá para hacer login, y para poder identificar tus recetas"
          #usuario="ngModel"
          [(ngModel)]="register.usuario"
          class="form-control"
          [ngClass]="{'is-valid': usuario.valid, 'is-invalid': usuario.invalid}"
          required
        />
      </div>
      <div>
        <label for="pass"><b>Contraseña</b></label>
        <input
          type="password"
          placeholder="Contraseña"
          name="pass"
          title="Procura usar Mayúsculas, minúsculas, números y algún símbolo"
          #pass="ngModel"
          [(ngModel)]="register.pass"
          class="form-control"
          [ngClass]="{'is-valid': pass.valid, 'is-invalid': pass.invalid}"
          required
        />
      </div>
      <div>
        <label for="nacionality"><b>Nacionalidad</b></label>
        <input
          type="text"
          placeholder="Nacionalidad"
          name="nacionalidad"
          title="Sólo lo usaremos para indicar por defecto el pais de origen de las recetas"
          #nacionalidad="ngModel" [(ngModel)]="register.nacionalidad"
          class="form-control"
          [ngClass]="{'is-valid': nacionalidad.valid, 'is-invalid': nacionalidad.invalid}"
          required
        />
      </div>
      <div>
          <label for="birthDate"><b>Fecha de nacimiento</b></label>
          <app-date-picker
            (newDate)="dataAsign($event)"
            title="Usamos tu cumpleaños para poder felicitarte y conocer la edad de nuestros cocineros y comensales"            
          ></app-date-picker>
      </div>
        <p>
          Registrándose indica que está de acuertdo con
          <a href="#" style="color: dodgerblue">los terminos y condiciones</a>
          de la web.
        </p>

        <p>
          ¿Ya tiene una cuenta? Entonces mejor vaya a la pagina de
          <a [routerLink]="['/login']" style="color: dodgerblue"
            >Inicio de sesión</a
          >.
        </p>
        <div class="row">
          <div class="col-lg">
            <button type="submit" 
                    class="signup-btn"
                    [disabled]="formularioRegistro.invalid"
            >
              Realizar el registro
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg"></div>
  </div>
</div>
