<!-- <h1>Zona del Administrador</h1>
<ul>
    <li>
      <a [routerLink]="['/inicio']" routerLinkActive="router-link-active">Inicio</a> 
    </li>    
    <li>
      <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/admin/usuarios']" routerLinkActive="router-link-active" >Usuarios</a>
    </li>
  </ul> -->

<!-- Sidebar -->
<div class="bg-light border-right shadow" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a [routerLink]="['/inicio']" routerLinkActive="router-link-active">Recetario</a>
    </div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light"><i class="fas fa-columns"></i> Dashboard</a>
      <a [routerLink]="['/admin/usuarios']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light" ><i class="fas fa-users"></i> Usuarios</a>

      <a [routerLink]="['/admin/categorias']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light" ><i class="fas fa-sitemap"></i> Categorias</a>
      <a [routerLink]="['/admin/ingredientes']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light" ><i class="fas fa-carrot"></i> Ingredientes</a>
      <a [routerLink]="['/admin/nacionalidades']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light" ><i class="fas fa-flag-checkered"></i> Nacionalidades</a>
  </div>
</div>
<!-- /#sidebar-wrapper -->
