<nav class="navbar navbar-light custom-bg">
    <form class="form-inline">
      <!-- Zona pública -->
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Inicio</a> 
      <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="router-link-active" >Contacto</a>
      <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Administración</a>
    </form>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>


  