<div class="container">
    <div class="row">
        <div class="col-lg">      </div>
        <div class="col-lg-6">
            <form (ngSubmit)="change()" #cambioPassForm="ngForm">
                <h1>Cambio de contraseña</h1>
                <div>Rellene y confirme su nueva contraseña.</div>
                <hr>
                <div>
                    <label for="pass"><b>Contraseña</b></label>
                    <input
                      type="password"
                      placeholder="Contraseña"
                      name="pass"
                      title="Procura usar Mayúsculas, minúsculas, números y algún símbolo"
                      #pass="ngModel"
                      [(ngModel)]="values.pass"
                      class="form-control"
                      [ngClass]="{'is-valid': pass.valid, 'is-invalid': pass.invalid}"
                      required
                    />
                </div>

                <div *ngIf="values.pass.invalid && (values.pass.dirty || values.pass.touched)">
                    <small *ngIf="pass.errors.required"
                        class="help-block m-b-none text-danger" style="float:right">
                        La contraseña es obligatoria.
                    </small>
                </div>
                

                
                <div>
                    <label for="pass2"><b>Repita la contraseña</b></label>
                    <input
                      type="password"
                      placeholder="Contraseña"
                      name="pass2"
                      title="Procura usar Mayúsculas, minúsculas, números y algún símbolo"
                      #pass2="ngModel"
                      [(ngModel)]="values.pass2"
                      class="form-control"
                      [ngClass]="{'is-valid': values.pass === values.pass2, 'is-invalid': values.pass !== values.pass2}"
                      required
                    />
                </div>
                <div *ngIf="values.pass!==values.pass2">
                    <small *ngIf="pass2.errors"
                        class="help-block m-b-none text-danger" style="float:right">
                        Las contraseñas no coinciden.
                    </small>
                </div>


<br>
                <div class="row">
                    <div class="col-lg">
                        <button type="submit" [disabled]="!cambioPassForm.valid" class="signup-btn">Cambiar contraseña</button>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-lg">      </div>
    </div>
</div>