<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data$ | async">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.nombre }}</td>
        <td>{{ data.usuario }}</td>
        <td>{{ data.email }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Si solo hay una página que mostrar, no habilitamos los botones de navegacion -->
<!-- El calculo de los botones se realiza entre collectionSize/pageSize -->
<div class="d-flex justify-content-between p-2" *ngIf="infoPage.totalPages > 1">
  <ngb-pagination
    [collectionSize]="infoPage.totalItems"
    [(page)]="infoPage.page"
    [pageSize]="infoPage.itemsPage"
    (pageChange) ="pageChange()"
  >
  </ngb-pagination>
</div>
