<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data$ | async">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.nombre }}</td>
        <td>{{ data.usuario }}</td>
        <td>{{ data.email }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Si solo hay una página que mostrar, no habilitamos los botones de navegacion -->
<div class="d-flex justify-content-between p-2" *ngIf="infoPage.totalPages > 1">
  <ngb-pagination
    [collectionSize]="infoPage.totalPages"
    [(page)]="infoPage.page"
    [pageSize]="itemsPage"
    (pageChange) ="pageChange()"
  >
  </ngb-pagination>

  <!-- <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select> -->
</div>
